<div class="row">
	<div class="text-center">
		<div id="index" class="page">
			<div class="center-block w960 f2 black">
				<div class="white main-title">ɘɘbi ib iɔniv ɒb obɿɒnoɘl ib onɒɘɔo</div>
				<div class="white secondary-title">Leonardo da Vinci's Ocean of Ideas</div>
				<h1>HONR208R Dr. Meredith J. Gill</h1>
				<h1>Tim Bohannon</h1>
				<h1>Orion McCarthy</h1>
				<h1>Danny Shaw</h1>
			</div>
		</div>

		<div id="scuba" class="page">
			<div class="center-block w960 vertical-center">
				<div id="slider" class="sl-slider-wrapper">

					<div class="sl-slider">
					
						<div class="sl-slide bg-1" data-orientation="vertical" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
							<div class="sl-slide-inner slide-scuba">
								<a id="scubaa-1" href="#" data-placement="right" data-toggle="tooltip" title="The breathing tubes used in the apparatus are made of cane tubes fastened together with pigskin leather.  One tube is used for inhaling, the other for exhaling. 
								"></a>
								<a id="scubaa-2" href="#" data-placement="left" data-toggle="tooltip" title="Metal rings or wire mesh add structural support to the breathing tubes, preventing their collapse from water pressure."></a>
								<a id="scubaa-3" href="#" data-placement="top" data-toggle="tooltip" title="The breathing tubes connect to a facemask in a similar fashion to modern SCUBA gear.  However, Leonardo’s mask sported smaller goggle lenses, possibly due to the mechanical constraints of water pressure and medieval glass.  The mask would require an airtight seal to the face to function properly."></a>
								<a id="scubaa-4" href="#" data-placement="bottom" data-toggle="tooltip" title="Instead of an air tank, Leonardo’s design utilized a floating buoy where breathing tubes opened up to the atmosphere. In reality, this design wouldn’t work at depths of more than a few meters, as the power of the exhaling lung wouldn’t be great enough to expel built up carbon dioxide.  Modern SCUBA gear circumvents such issues by using pressurized air tanks."></a>
								<a id="scubaa-5" href="#"  data-placement="bottom" data-toggle="tooltip" title="While this version of Leonardo’s dive suit looked to the surface for air supply, he designed other diving suits that utilized inflated bladders as air sources."></a>
							</div>
						</div>
						
						<div class="sl-slide bg-2" data-orientation="horizontal" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
							<div class="sl-slide-inner slide-scuba">
								<a id="scubab-1" href="#" data-placement="right" data-toggle="tooltip" title="Similar to Leonardo’s design, a tube connects the air source to the diver’s mouth to facilitate breathing.  In modern SCUBA gear, the tube connects the air tank to a regulator, which fits in the divers mouth."></a>
								<a id="scubab-2" href="#" data-placement="bottom" data-toggle="tooltip" title="Unlike Leonardo’s design, modern day SCUBA gear involves a portable tank filled with pressurized air, not a floating device connected to the surface with a series of tubes.  The length of the dive is primarily determined by the amount of air in the tank and the pressure it is under.  Depending on depth, dive time can range from 30 to 90 minutes, as deeper water exerts more pressure on the air tank, shortening the dive."></a>
								<a id="scubab-3" href="#" data-placement="right" data-toggle="tooltip" title="The BCD, or Buoyancy Compensator Device, is a multifunctional tool that doubles as a harness to attach the air tank, as a buoyancy-regulating tool, and as a life vest for floating on the surface.  Divers can control their buoyancy by inflating or deflating their BCD, bringing them closer to the surface or to the life down below."></a>
								<a id="scubab-4" href="#" data-placement="top" data-toggle="tooltip" title="A secondary regulator is also attached to the air tank as an emergency air supply if the primary regulator stops working or if a dive buddy runs out of air."></a>
								<a id="scubab-5" href="#" data-placement="right" data-toggle="tooltip" title="A wetsuit and an inflated BCD can make a diver quite buoyant, so divers often wear a weight belt to counterbalance their natural buoyancy. "></a>
								<a id="scubab-6" href="#" data-placement="left" data-toggle="tooltip" title="Loss of body heat occurs rapidly when submerged for extended periods of time, even when diving in warm, tropical waters.  To prevent hypothermia, divers wear full body wetsuits.  The recommended thickness of these suits varies given the temperature of the water and affects the diver’s buoyancy. "></a>
								<a id="scubab-7" href="#" data-placement="bottom" data-toggle="tooltip" title="One of the most important rules of SCUBA diving is to never hold your breath!  Holding your breath while changing depths can damage organs due to air pressure changes, possibly leading to a collapsed lung.  Thus, bubbles should always be flowing from your regulator when you are not inhaling. "></a>
							</div>
						</div>
					</div><!-- /sl-slider -->
				
					<nav id="nav-arrows" class="nav-arrows">
						<span class="nav-arrow-prev">Previous</span>
						<span class="nav-arrow-next">Next</span>
					</nav>

				</div><!-- /slider-wrapper -->
			</div>
		</div>

		<div id="boat" class="page">
			<div class="center-block w960 vertical-center">
				<div id="slider-boat" class="sl-slider-wrapper">

					<div class="sl-slider">
					
						<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
							<div class="sl-slide-inner slide-boat">
								<a id="boata-1" href="#"></a>
								<a id="boata-2" href="#"></a>
								<a id="boata-3" href="#"></a>
								<a id="boata-4" href="#"></a>
								<a id="boata-5" href="#"></a>
							</div>
						</div>
						
						<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
							<div class="sl-slide-inner slide-boat">
								<a id="boatb-1" href="#"></a>
								<a id="boatb-2" href="#"></a>
								<a id="boatb-3" href="#"></a>
								<a id="boatb-4" href="#"></a>
								<a id="boatb-5" href="#"></a>
							</div>
						</div>
					</div><!-- /sl-slider -->
				
					<nav id="nav-arrows-boat" class="nav-arrows">
						<span class="nav-arrow-prev">Previous</span>
						<span class="nav-arrow-next">Next</span>
					</nav>

				</div><!-- /slider-wrapper -->

			</div>
		</div>

		<div id="bridge" class="page">
			<div class="center-block w960 vertical-center">
				<div id="slider-bridge" class="sl-slider-wrapper">

					<div class="sl-slider">
					
						<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
							<div class="sl-slide-inner slide-bridge">
							</div>
						</div>
						
						<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
							<div class="sl-slide-inner slide-bridge">
							</div>
						</div>
					</div><!-- /sl-slider -->
				
					<nav id="nav-arrows-bridge" class="nav-arrows">
						<span class="nav-arrow-prev">Previous</span>
						<span class="nav-arrow-next">Next</span>
					</nav>

				</div><!-- /slider-wrapper -->
			</div>
		</div>

		<div id="screw" class="page">
			<div class="center-block w960 vertical-center">
				<div id="slider-screw" class="sl-slider-wrapper">

					<div class="sl-slider">
					
						<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
							<div class="sl-slide-inner slide-screw">
								<a id="screw-1" href="#"></a>
								<a id="screw-2" href="#"></a>
								<a id="screw-3" href="#"></a>
								<a id="screw-4" href="#"></a>
								<a id="screw-5" href="#"></a>
								<a id="screw-6" href="#"></a>
							</div>
						</div>
						
						<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
							<div class="sl-slide-inner slide-screw">
								<a id="screwb-1" href="#"></a>
								<a id="screwb-2" href="#"></a>
								<a id="screwb-3" href="#"></a>
								<a id="screwb-4" href="#"></a>
								<a id="screwb-5" href="#"></a>
								<a id="screwb-6" href="#"></a>
								<a id="screwb-7" href="#"></a>
								<a id="screwb-8" href="#"></a>
							</div>
						</div>
					</div><!-- /sl-slider -->
					
					<nav id="nav-arrows-screw" class="nav-arrows">
						<span class="nav-arrow-prev">Previous</span>
						<span class="nav-arrow-next">Next</span>
					</nav>

				</div><!-- /slider-wrapper -->
			</div>
		</div>

		<div id="dredge" class="page">
			<div class="center-block w960 vertical-center">
				<div id="slider-dredge" class="sl-slider-wrapper">

					<div class="sl-slider">
					
						<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
							<div class="sl-slide-inner slide-dredge">
								<a id="dredgea-1" href="#"></a>
								<a id="dredgea-2" href="#"></a>
								<a id="dredgea-3" href="#"></a>
								<a id="dredgea-4" href="#"></a>
								<a id="dredgea-5" href="#"></a>
							</div>
						</div>
						
						<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
							<div class="sl-slide-inner slide-dredge">
								<a id="dredgeb-1" href="#"></a>
								<a id="dredgeb-2" href="#"></a>
								<a id="dredgeb-3" href="#"></a>
								<a id="dredgeb-4" href="#"></a>
								<a id="dredgeb-5" href="#"></a>
							</div>
						</div>
					</div><!-- /sl-slider -->
					
					<nav id="nav-arrows-dredge" class="nav-arrows">
						<span class="nav-arrow-prev">Previous</span>
						<span class="nav-arrow-next">Next</span>
					</nav>

				</div><!-- /slider-wrapper -->
			</div>
		</div>

		<div id="works_cited" class="page">
			<div class="center-block w960 vertical-center">
			</div>
		</div>
	</div>
</div>
	<div id="leftControl" class="control">
		<img id="leftArrow" class="arrow left" style="width:60px" src="arrowleft2.png"></img>
		<div id="leftText" class="dirText" style="float:right"> Test</div>
	</div>

	<div id="rightControl" class="control">
		<img id="rightArrow" class="arrow right" style="width:60px" src="arrowright2.png"></img>
		<div id="rightText" class="dirText" style="float:left"> Test</div>
	</div>

	<div id="topControl" class="control center" style="width:145px;left:45%;">
		<img id="topArrow" class="arrow left" style="height:60px" src="arrowtop2.png"></img>
		<div id="topText" class="dirText txtcenter" > Test</div>
	</div>

	<div id="bottomControl" class="control center" style="width:145px;left:45%;bottom:0px;">
		<div id="bottomText" class="dirText txtcenter"> Test</div>
		<img id="bottomArrow" class="arrow left" style="height:60px" src="arrowbottom2.png"></img>

	</div>