<div class="row">
	<div class="text-center">
		<div id="index" class="page">
			<div class="center-block w960 f2 black">
				<div class="white main-title">ɘɘbI ɘllɘb iɔniV ɒb obɿɒnoɘ⅃ ib nɒɘɔO</div>
				<div class="white secondary-title">Leonardo da Vinci's Ocean of Ideas</div>
				<h1>HONR208R Dr. Meredith J. Gill</h1>
				<h1>Tim Bohannon</h1>
				<h1>Orion McCarthy</h1>
				<h1>Danny Shaw</h1>
			</div>
		</div>

		<div id="scuba" class="page">
			<div class="center-block w960 vertical-center">
				<div id="slider" class="sl-slider-wrapper">

					<div class="sl-slider">
					
						<div class="sl-slide bg-1" data-orientation="vertical" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
							<div class="sl-slide-inner slide-scuba">
								<a id="scubaa-1" href="#" data-placement="right" data-toggle="tooltip" title="The breathing tubes used in the apparatus are made of cane tubes fastened together with pigskin leather.  One tube is used for inhaling, the other for exhaling. 
								"></a>
								<a id="scubaa-2" href="#" data-placement="left" data-toggle="tooltip" title="Metal rings or wire mesh add structural support to the breathing tubes, preventing their collapse from water pressure."></a>
								<a id="scubaa-3" href="#" data-placement="top" data-toggle="tooltip" title="The breathing tubes connect to a facemask in a similar fashion to modern SCUBA gear.  However, Leonardo’s mask sported smaller goggle lenses, possibly due to the mechanical constraints of water pressure and medieval glass.  The mask would require an airtight seal to the face to function properly."></a>
								<a id="scubaa-4" href="#" data-placement="bottom" data-toggle="tooltip" title="Instead of an air tank, Leonardo’s design utilized a floating buoy where breathing tubes opened up to the atmosphere. In reality, this design wouldn’t work at depths of more than a few meters, as the power of the exhaling lung wouldn’t be great enough to expel built up carbon dioxide.  Modern SCUBA gear circumvents such issues by using pressurized air tanks."></a>
								<a id="scubaa-5" href="#"  data-placement="bottom" data-toggle="tooltip" title="While this version of Leonardo’s dive suit looked to the surface for air supply, he designed other diving suits that utilized inflated bladders as air sources."></a>
							</div>
						</div>
						
						<div class="sl-slide bg-2" data-orientation="horizontal" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
							<div class="sl-slide-inner slide-scuba">
								<a id="scubab-1" href="#" data-placement="right" data-toggle="tooltip" title="Similar to Leonardo’s design, a tube connects the air source to the diver’s mouth to facilitate breathing.  In modern SCUBA gear, the tube connects the air tank to a regulator, which fits in the divers mouth."></a>
								<a id="scubab-2" href="#" data-placement="bottom" data-toggle="tooltip" title="Unlike Leonardo’s design, modern day SCUBA gear involves a portable tank filled with pressurized air, not a floating device connected to the surface with a series of tubes.  The length of the dive is primarily determined by the amount of air in the tank and the pressure it is under.  Depending on depth, dive time can range from 30 to 90 minutes, as deeper water exerts more pressure on the air tank, shortening the dive."></a>
								<a id="scubab-3" href="#" data-placement="right" data-toggle="tooltip" title="The BCD, or Buoyancy Compensator Device, is a multifunctional tool that doubles as a harness to attach the air tank, as a buoyancy-regulating tool, and as a life vest for floating on the surface.  Divers can control their buoyancy by inflating or deflating their BCD, bringing them closer to the surface or to the life down below."></a>
								<a id="scubab-4" href="#" data-placement="top" data-toggle="tooltip" title="A secondary regulator is also attached to the air tank as an emergency air supply if the primary regulator stops working or if a dive buddy runs out of air."></a>
								<a id="scubab-5" href="#" data-placement="right" data-toggle="tooltip" title="A wetsuit and an inflated BCD can make a diver quite buoyant, so divers often wear a weight belt to counterbalance their natural buoyancy. "></a>
								<a id="scubab-6" href="#" data-placement="left" data-toggle="tooltip" title="Loss of body heat occurs rapidly when submerged for extended periods of time, even when diving in warm, tropical waters.  To prevent hypothermia, divers wear full body wetsuits.  The recommended thickness of these suits varies given the temperature of the water and affects the diver’s buoyancy. "></a>
								<a id="scubab-7" href="#" data-placement="bottom" data-toggle="tooltip" title="One of the most important rules of SCUBA diving is to never hold your breath!  Holding your breath while changing depths can damage organs due to air pressure changes, possibly leading to a collapsed lung.  Thus, bubbles should always be flowing from your regulator when you are not inhaling. "></a>
							</div>
						</div>
					</div><!-- /sl-slider -->
				
					<nav id="nav-arrows" class="nav-arrows">
						<span class="nav-arrow-prev">Previous</span>
						<span class="nav-arrow-next">Next</span>
					</nav>

				</div><!-- /slider-wrapper -->
			</div>
		</div>

		<div id="boat" class="page">
			<div class="center-block w960 vertical-center">
				<div id="slider-boat" class="sl-slider-wrapper">

					<div class="sl-slider">
					
						<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
							<div class="sl-slide-inner slide-boat">
								<a id="boata-1" href="#" data-placement="right" data-toggle="tooltip" title="Da Vinci makes use of gear ratios to increase the rate at which the paddles spin relative to that of the larger gears in the center."></a>
								<a id="boata-2" href="#" data-placement="left" data-toggle="tooltip" title="Only one of the larger gears is actually being  driven by the perpendicular gear in the center of the boat. The gear on the left seems to be used only for stabilization."></a>
								<a id="boata-3" href="#" data-placement="top" data-toggle="tooltip" title="The design of boat’s hull, which was inspired Leonardo’s studies of fish and their movement through the water, would’ve allowed it to move through the water faster than other boats of it’s time, which were typically more rectangular in shape."></a>
								<a id="boata-4" href="#" data-placement="left" data-toggle="tooltip" title="The perpendicular gear in the center of the boat, which is the driving force behind the movement of the paddles, would have been powered by the foot pedals used by the sailors on board."></a>
								<a id="boata-5" href="#" data-placement="right" data-toggle="tooltip" title="The paddles Leonardo designed were wide at the ends and thin in the middle to minimize weight while mazimizing the amount of propulsion that could be achieved."></a>
							</div>
						</div>
						
						<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
							<div class="sl-slide-inner slide-boat">
								<a id="boatb-1" href="#" data-placement="right" data-toggle="tooltip" title="Much like in Leonardo’s design, the paddles are made wide along the outside and thin in the middle to minimize weight while maintaining a respectable amount of propulsion"></a>
								<a id="boatb-2" href="#" data-placement="right" data-toggle="tooltip" title="Instead of being powered by foot pedals, modern day riverboats are powered by steam engines, which were revolutionary in the realm of transportation when they were first introduced"></a>
								<a id="boatb-3" href="#" data-placement="left" data-toggle="tooltip" title="Even though the riverboat appears to have a rather blocky frame, the hulls generally utilized the same fish shape that Leonardo’s craft did for the portion that is actually underwater. The riverboats can get away with doing this because they only travel on rivers, which offer significantly calmer waters than is typical of bays and oceans."></a>
								<a id="boatb-4" href="#" data-placement="bottom" data-toggle="tooltip" title="Unlike Leonardo’s craft, these riverboats were not built for speed. Typically they were designed to carry large numbers of people at relatively slow speeds."></a>
								<a id="boatb-5" href="#" data-placement="bottom" data-toggle="tooltip" title="The Steam engines in these boats were typically powered by burning wood below large iron boilers, with the smoke billowing out through the smoke stacks at the top. Wood made a good fuel for these ships because it could be acquired easily from local woodcutters at any port. "></a>
							</div>
						</div>
					</div><!-- /sl-slider -->
				
					<nav id="nav-arrows-boat" class="nav-arrows">
						<span class="nav-arrow-prev">Previous</span>
						<span class="nav-arrow-next">Next</span>
					</nav>

				</div><!-- /slider-wrapper -->

			</div>
		</div>

		<div id="bridge" class="page">
			<div class="center-block w960 vertical-center">
				<div id="slider-bridge" class="sl-slider-wrapper">

					<div class="sl-slider">
					
						<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
							<div class="sl-slide-inner slide-bridge">
							</div>
						</div>
						
						<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
							<div class="sl-slide-inner slide-bridge">
							</div>
						</div>
					</div><!-- /sl-slider -->
				
					<nav id="nav-arrows-bridge" class="nav-arrows">
						<span class="nav-arrow-prev">Previous</span>
						<span class="nav-arrow-next">Next</span>
					</nav>

				</div><!-- /slider-wrapper -->
			</div>
		</div>

		<div id="screw" class="page">
			<div class="center-block w960 vertical-center">
				<div id="slider-screw" class="sl-slider-wrapper">

					<div class="sl-slider">
					
						<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
							<div class="sl-slide-inner slide-screw">
								<a id="screw-1" href="#" data-placement="right" data-toggle="tooltip" title="Unlike most Archimedean screw designs, Leonardo’s used a coiled tube rather than an open-air screw, which is the design most commonly used today."></a>
								<a id="screw-2" href="#" data-placement="bottom" data-toggle="tooltip" title="The human-scale of the screw allowed it to be operated manually with a crank.  To optimize efficiency, modern day Archimedes screws are much larger, often several stories tall, and capable of moving massive quantities of water quickly."></a>
								<a id="screw-3" href="#" data-placement="top" data-toggle="tooltip" title="The tubes are open ended, allowing water to flow in to be carried up against gravity in a stepwise fashion. "></a>
								<a id="screw-4" href="#" data-placement="bottom" data-toggle="tooltip" title="While most tubes rotated around a circular rod, Leonardo experimented with multiple forms.  Here, he plays with the idea of a triangular prism rod, and three separate tubs."></a>
								<a id="screw-5" href="#" data-placement="right" data-toggle="tooltip" title="A holding tank at the top end of the screw stores water that has been pumped against gravity by the mechanical motion of the screw."></a>
								<a id="screw-6" href="#" data-placement="right" data-toggle="tooltip" title="Since no electricity existed during the Renaissance, pumping water against gravity was of principle concern, as no cheap, efficient, electrical alternative existed.  In modern times, the prospect of generating electricity has prompted the use of the Archimedean screw in the opposite capacity for which it was designed."></a>
							</div>
						</div>
						
						<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
							<div class="sl-slide-inner slide-screw">
								<a id="screwb-1" href="#" data-placement="right" data-toggle="tooltip" title="While the Archimedes screw is still used to pump water up (mostly for irrigation systems and flood control stations), they are also used in hydroelectric dams to generate electricity."></a>
								<a id="screwb-2" href="#" data-placement="right" data-toggle="tooltip" title="Unlike the hand crank design in Leonardo’s drawings, these screws are truly massive, and are much larger than human scale.  The ideal size of the screw represents a delicate balance: make the screw too large and it will increase cost and environmental damage, but make it too small and it will be inefficient at generating power from the available flow."></a>
								<a id="screwb-3" href="#" data-placement="left" data-toggle="tooltip" title="The spinning action of the screw generated by the water turns a generator, generating electricity as long as the river is flowing. "></a>
								<a id="screwb-4" href="#" data-placement="bottom" data-toggle="tooltip" title="Water is diverted from the main stream or river and directed into the Archimedean screw device."></a>
								<a id="screwb-5" href="#" data-placement="bottom" data-toggle="tooltip" title="The entirety of the river isn’t diverted through the generator, with a large bypass available for times of flooding."></a>
								<a id="screwb-6" href="#" data-placement="right" data-toggle="tooltip" title="The Archimedean screw represents an ecologically friendly alternative to traditional dams and hydroelectric power generation by allowing fish to travel unharmed down the length of the screw.  No damaging grate is present at the bottom of the screw to impede fish movement.  "></a>
								<a id="screwb-7" href="#" data-placement="left" data-toggle="tooltip" title="Often, fish ladders or artificial streams are erected next to these dams to allow fish to bypass the dam in both directions."></a>
								<a id="screwb-8" href="#" data-placement="left" data-toggle="tooltip" title="A large grate at the top of the screw stops debris from traveling through the device but allows fish to swim downstream."></a>
							</div>
						</div>
					</div><!-- /sl-slider -->
					
					<nav id="nav-arrows-screw" class="nav-arrows">
						<span class="nav-arrow-prev">Previous</span>
						<span class="nav-arrow-next">Next</span>
					</nav>

				</div><!-- /slider-wrapper -->
			</div>
		</div>

		<div id="dredge" class="page">
			<div class="center-block w960 vertical-center">
				<div id="slider-dredge" class="sl-slider-wrapper">

					<div class="sl-slider">
					
						<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
							<div class="sl-slide-inner slide-dredge">
								<a id="dredgea-1" href="#" data-placement="right" data-toggle="tooltip" title="The purpose of this device was to rake up mud and dirt from below the surface of the water and remove it from the area, which could be used to allow boats with larger hulls to pass through an area without getting beached."></a>
								<a id="dredgea-2" href="#" data-placement="right" data-toggle="tooltip" title="This device would have been powered by turning the handle that can be seen in the foreground of the image and presumably a second one that could be operated from the hull in the background of the drawing. "></a>
								<a id="dredgea-3" href="#" data-placement="right" data-toggle="tooltip" title="The small boats pictured in the left side of the image were used to haul away the mud, sand, etc. pulled up by the dredge, which allowed it to operate continuously while remaining stationary. "></a>
								<a id="dredgea-4" href="#" data-placement="left" data-toggle="tooltip" title="The stake seen in the right side of the drawing, which is attached to the boat, was used to keep the craft from moving as the crewmen operated the dredge. It would be sticking out of the ground in the opposite direction of the boat so that it wouldn’t just slide out of the ground when the rope starts pulling it."></a>
								<a id="dredgea-5" href="#" data-placement="right" data-toggle="tooltip" title="Unlike the paddles in Leonardo’s paddle boat drawing, the scoops are much thicker in the center to be able to withstand the additional forces exerted upon them when excavating the mud/sand."></a>
							</div>
						</div>
						
						<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
							<div class="sl-slide-inner slide-dredge">
								<a id="dredgeb-1" href="#" data-placement="right" data-toggle="tooltip" title="Much like in Leonardo’s design, some modern dredges still use a scooping mechanism to excavate the sand from the sea floor and proceed to load the sand onto other boats to be hauled away. "></a>
								<a id="dredgeb-2" href="#" data-placement="left" data-toggle="tooltip" title="Modern dredges are typically powered by hydraulics and large diesel engines, which allow them to dredge the sea floor much faster than any human powered machine ever could."></a>
								<a id="dredgeb-3" href="#" data-placement="right" data-toggle="tooltip" title="Instead of the 4 “scoops” used in Leonardo’s design, modern dredges just use one significantly larger bucket or, in the case of some designs, up to a hundred smaller buckets attached to a conveyor belt."></a>
								<a id="dredgeb-4" href="#" data-placement="right" data-toggle="tooltip" title="Modern machines are much more manueverable than Leonardo’s device would have been since they can spin 360 degrees and have a much larger vertical reach."></a>
								<a id="dredgeb-5" href="#" data-placement="left" data-toggle="tooltip" title="Instead of using a stake and some rope to remain stationary, modern designs will either be installed semi-permanently into the sea floor or use boat anchors attached to heavy-duty chains."></a>
							</div>
						</div>
					</div><!-- /sl-slider -->
					
					<nav id="nav-arrows-dredge" class="nav-arrows">
						<span class="nav-arrow-prev">Previous</span>
						<span class="nav-arrow-next">Next</span>
					</nav>

				</div><!-- /slider-wrapper -->
			</div>
		</div>

		<div id="works_cited" class="page">
			<div class="center-block w960 vertical-center">
			</div>
		</div>
	</div>
</div>
	<div id="leftControl" class="control">
		<img id="leftArrow" class="arrow left" style="width:60px" src="arrowleft2.png"></img>
		<div id="leftText" class="dirText" style="float:right"> Test</div>
	</div>

	<div id="rightControl" class="control">
		<img id="rightArrow" class="arrow right" style="width:60px" src="arrowright2.png"></img>
		<div id="rightText" class="dirText" style="float:left"> Test</div>
	</div>

	<div id="topControl" class="control center" style="width:145px;left:45%;">
		<img id="topArrow" class="arrow left" style="height:60px" src="arrowtop2.png"></img>
		<div id="topText" class="dirText txtcenter" > Test</div>
	</div>

	<div id="bottomControl" class="control center" style="width:145px;left:45%;bottom:0px;">
		<div id="bottomText" class="dirText txtcenter"> Test</div>
		<img id="bottomArrow" class="arrow left" style="height:60px" src="arrowbottom2.png"></img>

	</div>