<div class="row">
	<div class="text-center">
		<div id="index" class="page">
			<div class="center-block w960 f2 black">
				<div class="f3 white">ɘɘbi ib iɔniv ɒb obɿɒnoɘl ib onɒɘɔo</div>
				<h1>HONR208R Dr. Meredith J. Gill</h1>
				<h1>Tim Bohannon</h1>
				<h1>Orion McCarthy</h1>
				<h1>Danny Shaw</h1>
			</div>
		</div>

		<div id="scuba" class="page">
			<div class="center-block w960 vertical-center">
				<div id="slider" class="sl-slider-wrapper">

					<div class="sl-slider">
					
						<div class="sl-slide bg-1" data-orientation="vertical" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
							<div class="sl-slide-inner slide-scuba">
							</div>
						</div>
						
						<div class="sl-slide bg-2" data-orientation="horizontal" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
							<div class="sl-slide-inner slide-scuba">
							</div>
						</div>
					</div><!-- /sl-slider -->
				
					<nav id="nav-arrows" class="nav-arrows">
						<span class="nav-arrow-prev">Previous</span>
						<span class="nav-arrow-next">Next</span>
					</nav>

				</div><!-- /slider-wrapper -->
			</div>
		</div>

		<div id="boat" class="page">
			<div class="center-block w960 vertical-center">
				<div id="slider-boat" class="sl-slider-wrapper">

					<div class="sl-slider">
					
						<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
							<div class="sl-slide-inner slide-boat">
							</div>
						</div>
						
						<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
							<div class="sl-slide-inner slide-boat">
							</div>
						</div>
					</div><!-- /sl-slider -->
				
					<nav id="nav-arrows-boat" class="nav-arrows">
						<span class="nav-arrow-prev">Previous</span>
						<span class="nav-arrow-next">Next</span>
					</nav>

				</div><!-- /slider-wrapper -->

			</div>
		</div>

		<div id="bridge" class="page">
			<div class="center-block w960 vertical-center">
				<div id="slider-bridge" class="sl-slider-wrapper">

					<div class="sl-slider">
					
						<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
							<div class="sl-slide-inner slide-bridge">
							</div>
						</div>
						
						<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
							<div class="sl-slide-inner slide-bridge">
							</div>
						</div>
					</div><!-- /sl-slider -->
				
					<nav id="nav-arrows-bridge" class="nav-arrows">
						<span class="nav-arrow-prev">Previous</span>
						<span class="nav-arrow-next">Next</span>
					</nav>

				</div><!-- /slider-wrapper -->
			</div>
		</div>

		<div id="screw" class="page">
			<div class="center-block w960 vertical-center">
				<div id="slider-screw" class="sl-slider-wrapper">

					<div class="sl-slider">
					
						<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
							<div class="sl-slide-inner slide-screw">
								<a id="screw-1" href="#"></a>
								<a id="screw-2" href="#"></a>
								<a id="screw-3" href="#"></a>
								<a id="screw-4" href="#"></a>
								<a id="screw-5" href="#"></a>
								<a id="screw-6" href="#"></a>
							</div>
						</div>
						
						<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
							<div class="sl-slide-inner slide-screw">
							</div>
						</div>
					</div><!-- /sl-slider -->
					
					<nav id="nav-arrows-screw" class="nav-arrows">
						<span class="nav-arrow-prev">Previous</span>
						<span class="nav-arrow-next">Next</span>
					</nav>

				</div><!-- /slider-wrapper -->
			</div>
		</div>

		<div id="dredge" class="page">
			<div class="center-block w960 vertical-center">
				<div id="slider-dredge" class="sl-slider-wrapper">

					<div class="sl-slider">
					
						<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
							<div class="sl-slide-inner slide-dredge">
							</div>
						</div>
						
						<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
							<div class="sl-slide-inner slide-dredge">
							</div>
						</div>
					</div><!-- /sl-slider -->
					
					<nav id="nav-arrows-dredge" class="nav-arrows">
						<span class="nav-arrow-prev">Previous</span>
						<span class="nav-arrow-next">Next</span>
					</nav>

				</div><!-- /slider-wrapper -->
			</div>
		</div>

		<div id="works_cited" class="page">
			<div class="center-block w960 vertical-center">
			</div>
		</div>
	</div>
</div>
	<div id="leftControl" class="control">
		<img id="leftArrow" class="arrow left" style="width:60px" src="arrowleft2.png"></img>
		<div id="leftText" class="dirText" style="float:right"> Test</div>
	</div>

	<div id="rightControl" class="control">
		<img id="rightArrow" class="arrow right" style="width:60px" src="arrowright2.png"></img>
		<div id="rightText" class="dirText" style="float:left"> Test</div>
	</div>

	<div id="topControl" class="control center" style="width:145px;left:45%;">
		<img id="topArrow" class="arrow left" style="height:60px" src="arrowtop2.png"></img>
		<div id="topText" class="dirText txtcenter" > Test</div>
	</div>

	<div id="bottomControl" class="control center" style="width:145px;left:45%;bottom:0px;">
		<div id="bottomText" class="dirText txtcenter"> Test</div>
		<img id="bottomArrow" class="arrow left" style="height:60px" src="arrowbottom2.png"></img>

	</div>